.inside {
    padding: 77px 0 80px;
}

.inside__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #676770;
}

.inside__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
    margin: 17px 0 62px;
}

.inside__row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.inside__card {
    width: calc(33.33333% - 13.33333px);
    border: 1px solid #DCEBF7;
    border-radius: 5px;
    text-align: center;
    padding: 36px 16px 23px;
}

.inside__card-title {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #676770;
    margin: 19px 0 14px;
}

.inside__card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #6A859C;
}

@media (max-width: 641px) {
    .inside__row {
        justify-content: center;
    }
    .inside__card {
        width: calc(50% - 10px);
    }
}

@media (max-width: 426px) {
    .inside__card {
        width: 100%;
    }
}