
.footer__top {
    padding: 33px 0 40px;
    display: flex;
    column-gap: 30px;
}
.footer__content {
    width: calc(33.33333% - 20px);
}
.footer__title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #676770;
    margin-bottom: 20px;
}
.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.footer__list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.footer__link {
    color: #668CAD;
}
.footer__bottom {
    padding: 40px 0;
    background: #383838;
    text-align: center;
    color: #9E9E9E;
}