
.footer__top {
    padding: 33px 0 40px;
    display: flex;
    column-gap: 30px;
}
.tooter__content {
    width: calc(33.33333% - 20px);

}
.footer__title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #676770;
    margin-bottom: 20px;
}
.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.footer__list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.footer__link {
    color: #668CAD;
}
.footer__bottom {
    padding: 40px 0;
    background: #383838;
    text-align: center;
    color: #9E9E9E;
}


@media (max-width: 641px) {
    .tooter__content {
        width: calc(50% - 15px);
    }
}

@media (max-width: 577px) {
    .footer__title {
        font-size: 14px;
    }
    .footer__list-item {
        font-size: 12px;
    }
}

@media (max-width: 426px) {
    .footer__title {
        font-size: 12px;
    }
    .footer__list-item {
        font-size: 10px;
        line-height: 13px;
    }
}